<button (click)="play()">Play</button>

<div class="container" *ngIf="IsPlaying">
    <div id="grid" class="auto">
        <div><mat-icon *ngIf="CurrentPosition === 1">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 2">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 3">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 4">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 5">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 6">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 7">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 8">pan_tool</mat-icon></div>
        <div><mat-icon *ngIf="CurrentPosition === 9">pan_tool</mat-icon></div>
    </div>
</div>

<app-results></app-results>
<app-settings></app-settings>