<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dual N Back</span>
  <span class="example-spacer"></span>
  <!-- <button div-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <div>favorite</div>
   </button>
   <button div-button class="example-icon" aria-label="Example icon-button with share icon">
    <div>share</div>
  </button> -->
</mat-toolbar>
<div class="content">
    <mat-drawer-container autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true">
            <app-results [results]="Results"></app-results>
            <app-settings (playWithSettings)="play($event)"></app-settings>
        </mat-drawer>
    
        <div class="sidenav-content center">
            <div class="container">
                <div id="grid" class="auto mb-10">
                    <div><div *ngIf="CurrentPosition === 1" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 2" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 3" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 4" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 5" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 6" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 7" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 8" class="active"></div></div>
                    <div><div *ngIf="CurrentPosition === 9" class="active"></div></div>
                </div>
                <div class="flex-row"*ngIf="IsPlaying">
                    <button mat-raised-button color="primary" (click)="clickAudioMatch()">audio match</button>
                    <button mat-raised-button color="primary" (click)="clickPositionMatch()">position match</button>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>
