:host {
    --square-width: 200px;
    --gap-width: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer-container, mat-drawer {
    height: 100%;
}

.sidenav {
    padding: 0 10px 0 10px;
}

.content {
    flex: 1 1 auto;
}

.sidenav-content {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-rows: var(--square-width) var(--square-width) var(--square-width);
    grid-template-columns: var(--square-width) var(--square-width) var(--square-width);
    grid-row-gap: var(--gap-width);
    grid-column-gap: var(--gap-width);
}

#grid > div {
    background-color: lightgray;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}